{% extends "base.html" %}

{% block content %}
    <div class="container"></div>
        <h1 class="text-center">Поиск дешевых инструментов на Toolssales</h1>
        <div>
            <h2>Доступные инструменты</h2>
            <a href="/search/screwdriver">Шуруповерты</a>
        </div>
        <div>
            <form action="{{ url_for('update_db') }}" method="post">
                <button type="submit">Обновление базы данных</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}